/* Estilos generales */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #004d40;
}

.container {
  width: 70%; /* Ajustado para ocupar menos espacio horizontalmente */
  max-width: 500px; /* Ancho máximo reducido para un diseño más compacto */
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
label {
  display: block;
  margin-top: 10px; /* Reducido para un diseño más compacto */
  color: #004d40;
}

input[type="text"],
textarea {
  width: 95%; /* Ajustado para ocupar casi todo el ancho disponible, dejando un poco de espacio alrededor */
  padding: 8px; /* Reducido para un diseño más compacto */
  margin: 3px 0; /* Reducido para un diseño más compacto */
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #ffffff;
  color: #333;
}

input[type="submit"] {
  background-color: #006400;
  color: white;
  padding: 8px 18px; /* Ajustado para un diseño más compacto */
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #004d40;
}

/* Estilos para las alertas */
.alert {
  padding: 8px;
  background-color: #90ee90;
  color: #004d40;
  opacity: 1;
  transition: opacity 0.6s;
}

.alert-success {
  background-color: #90ee90;
}

.alert-error {
  background-color: #ffcccc;
  color: #b20000;
}
